#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

#searchbar {
	width: fit-content;

	position: fixed;
	top: 0px;

	background-color: lightgray;
}